<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.user.netmode.recycle</string>
  <key>ProgramArguments</key>
  <array><string>/bin/bash</string><string>/Users/4jp/Library/Application Support/netmeter/netmode.sh</string><string>recycle</string></array>
  <key>WatchPaths</key>
  <array>
    <string>/etc/resolv.conf</string>
    <string>/Library/Preferences/SystemConfiguration</string>
    <string>/var/run/resolv.conf</string>
  </array>
  <key>ThrottleInterval</key><integer>5</integer>
  <key>StandardOutPath</key><string>/Users/4jp/Library/Application Support/netmeter/recycle.log</string>
  <key>StandardErrorPath</key><string>/Users/4jp/Library/Application Support/netmeter/recycle.log</string>
</dict>
</plist>
